<li class="{% if page['section']=='admin' and page['sub_section']=='councillors' %}active{% endif %}"><a href="/admin/councillors">Candidates</a></li>
<li class="{% if page['section']=='admin' and page['sub_section']=='wards' %}active{% endif %}"><a href="/admin/wards">Wards</a></li>
<li class="{% if page['section']=='admin' and page['sub_section']=='parties' %}active{% endif %}"><a href="/admin/parties">Parties</a></li>
<li class="{% if page['section']=='admin' and page['sub_section']=='users' %}active{% endif %}"><a href="/admin/users">Users</a></li>