<ul class="pull-right breadcrumb">
	<li class="{% if page['section']=='admin' and page['sub_section']=='home' %}active{% endif %}"><a href="/admin"><i class="fa fa-home"></i></a></li>
	{% include "_admin_li_links.twig" %}
</ul>