
<div id="system-timer-btn" >
	<a href="#systemTimers-container" data-toggle="modal"><i class="fa fa-clock-o"></i></a>
</div>


<div >
	
	
	<div class="copyright" >
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center" style="color: #999; border-top:2px solid #e1e1e1; margin-top:10px; padding-top:5px;">
					
						2016 © All Rights Reserved | All logos and trademark belong to their respective owners.
						
					
				</div>
				
				<!-- Social Links -->
				<div class="col-md-6">
					<ul class="list-inline">
						<li>
							
						</li>
						
					</ul>
				</div>
				<!-- End Social Links -->
			</div>
		</div>
	</div><!--/copyright-->
</div>