

<li class="{% if page['section']=='home' %}active{% endif %}"><a href="/"><i class="fa fa-home"></i></a></li>
<li class="{% if page['section']=='where' %}active{% endif %}"><a href="/where">Where do i vote?</a></li>
<li class="{% if page['section']=='status' %}active{% endif %}"><a href="/">Am i registered?</a></li>
<li class="{% if page['section']=='status' %}active{% endif %}"><a href="/">My voting status?</a></li>