<div class="breadcrumbs">
	<div class="container">
		<h1 class="pull-left">General Information</h1>
		<ul class="pull-right breadcrumb">
			{% include "_front_li_links.twig" %}
			
			
		</ul>
	</div>
</div>
<section class="section">
	<div class="container">
		
		<div class="col-sm-7 ">
			<h1 style="margin-top:30px;">Are you registered? <small>(ID number)</small></h1>
			
			
			<form class="intro-form-block status-lookup-form" >
				
				<div class="input-group">
					<input type="text" class="form-control" id="IDNumber" name="IDNumber"  placeholder="xxxxxxxxxxxxx">
						<span class="input-group-btn">
							<button type="submit" class="btn btn-primary">Status Lookup</button>
						</span>
				</div>
			
			
			
			
			</form>
			<hr>
			<h1 style="margin-top:30px;">Where do i vote? <small>(Address)</small></h1>
			<form class="intro-form-block address-lookup-form">
				
				<div class="input-group">
					<input type="text" class="form-control" id="address"  name="address" placeholder="16B Joubert Street, Louis Trichardt">
						<span class="input-group-btn">
							<button type="submit" class="btn btn-primary">Address Lookup</button>
						</span>
				</div>
			
			
			
			
			</form>
			
			
			
			
			
			
			
			
			
			
		</div>
		
		<div class="col-sm-5">
			{% include "_timeline.twig" %}
		
		</div>
		
		
	</div>
	
</section>
<section class="section">
	<div class="container">
		
	</div>
</section>

