<form action="https://api.elections.org.za/token" method="post" enctype="application/x-www-form-urlencoded">
	<input type="text" id="grant_type" name="grant_type"  value="password"/>
	<input type="text" id="username" name="username"  value="IECWebAPIMediaZN"/>
	<input type="text" id="password" name="password"  value="53412d349f394c3aa5de5593961d2059"/>
	<button type="submit">submit</button>
	
</form>